@model MedicineSearchWebApp.Models.Medecine

@{
    ViewData["Title"] = "display";
    Layout = "~/Views/Home/_AfterLoginLayout.cshtml";
}

<br/><br /><br /><br />

<div id="conteudo" style="font-weight: bold;">
    <form id="formulario" asp-action="AddMember" style="font-weight: bold;">
        <h1>Add Member</h1>
        <div class="row">
            <input autocomplete="name" type="text" id="name" placeholder="Provider ID" required asp-for="ProviderId" class="form-control" style="font-weight: bold;"/>
        </div>
        <div class="row">
            <input autocomplete="email" type="text" id="email" placeholder="Medicine Name" required asp-for="MedicineName" class="form-control" style="font-weight: bold;"/>
        </div>
        <div class="row">
            <input autocomplete="" type="text" id="endereco" placeholder="Category" required asp-for="MedicineCategory" class="form-control" style="font-weight: bold;"/>
        </div>
        <div class="row">
            <input autocomplete=" " type="text" id="cpf" placeholder="Dosage" asp-for="MedicineDosage" class="form-control" style="font-weight: bold;"/>
        </div>
        <div class="row">
            <input autocomplete="" type="date" id="nascimento" placeholder="" style="color: var(--cor3); font-weight: bold;" required asp-for="MedicineMdate" class="form-control" />
        </div>
        <div class="row">
            <input autocomplete="" type="date" id="nascimento" placeholder="" style="color: var(--cor3); font-weight: bold;" required asp-for="MedicineEdate" class="form-control" />
        </div>
        <div class="row">
            <input autocomplete="tel" type="tel" id="telefone" placeholder="Stock" required asp-for="MedicineStock" class="form-control" style="font-weight: bold;"/>
        </div>
        <div class="row">
            <input autocomplete="username" type="text" id="login_username" placeholder="Price" required asp-for="MedicinePrice" class="form-control" style="font-weight: bold;"/>
        </div>
        <button>
            <input type="submit" value="Save" class="btn btn-primary" style="font-weight: bold;"/>
        </button>
    </form>
</div>
<script src="https://kit.fontawesome.com/d639a0fa5e.js" crossorigin="anonymous"></script>


