
@{
    ViewData["Title"] = "VendorHomePage";
    Layout = "~/Views/Home/_AfterLoginVendorLayout.cshtml";
}



<br />
<br />
<br />
<br />
<div class="cards-list">

    <div class="card 1">
        <div class="card_image"> <img src="~/VendorProfile.jpg" /> </div>
        <div class="card_title title-white">
            <button style="        border: none;
        color: white;
        width: 100px;
        padding: 7px 7px 7px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: #e7e7e7;
        color: black;
        border-radius: 12px;
    " onclick="location.href='@Url.Action("Details", "Member" )'">
                View Profile
            </button>
        </div>
    </div>
    <div class="card 2">
        <div class="card_image">
            <img src="~/ViewMedicine2.jpeg" />
        </div>
        <div class="card_title title-white">
            <button style="        border: none;
        width: 130px;
        color: white;
        padding: 7px 7px 7px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: #e7e7e7;
        color: black;
        border-radius: 12px;
    " onclick="location.href='@Url.Action("display", "Member" )'">
                View Medicine
            </button>
        </div>
    </div>

    <div class="card 3">
        <div class="card_image">
            <img src="~/AddMedicine.png" />
        </div>
        <div class="card_title">
            <button style="        border: none;
        width: 130px;
        color: white;
        padding: 7px 7px 7px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: #e7e7e7;
        color: black;
        border-radius: 12px;
    " onclick="location.href='@Url.Action("AddMember", "Member" )'">
                Add Medicine
            </button>
        </div>
    </div>

    @*<div class="card 4">
            <div class="card_image">
                <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
            </div>
            <div class="card_title title-black">
                <p>Card Title</p>
            </div>
        </div>*@

</div>
<br />
<br />
<br />
<br />