@model MedicineSearchWebApp.Models.MedecineADO

@{
    ViewData["Title"] = "byCategory";
    Layout = "~/Views/Home/_AfterLoginLayout.cshtml";
}

<form name="form2">
    <label>Search by Category: </label>
    @Html.DropDownListFor(x => x.MedicineCategory, new SelectList(Model.medicineList,"MedicineId","MedicineCategory"), "<-select name->")
    <input type="button" id="btn2" value="SEARCH" />
    <hr />
    MEDICINE ID: <label id="l1"></label><br />
    MEDICINE CATEGORY: <label id="l2"></label><br /><br />
    <div id="MEDS">

    </div>

</form>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn2").click(function () {
                $.ajax({
                    url: "/Medecine/medByCategory",
                    type: "POST",
                    data: { category: $("#MedicineCategory option:selected").text()},
                    success: function (data) {
                        $("#MEDS").html(data);
                    },
                    error: function failedSearch() {
                        $("#MEDS").html = "Failed to load";
                    }
                });
                alert("Hi");
                $("#l1").text($("#MedicineCategory").val());
                $("#l2").text($("#MedicineCategory option:selected").text());
            });
        });
    </script>
}