@model MedicineSearchWebApp.Models.MedecineADO

@{
    ViewData["Title"] = "byName";
    Layout = "~/Views/Home/_AfterLoginLayout.cshtml";
}

<form name="form2">
    <label>Search by Name: </label>
    @Html.DropDownListFor(x => x.MedicineId, new SelectList(Model.medicineList, "MedicineId", "MedicineName"), "<-select name->")
    <input type="button" id="AKbtn2" value="SEARCH" />
    <hr />@*
    MEDICINE ID: <label id="l1"></label><br />
    MEDICINE NAME: <label id="l2"></label><br /><br />
*@
        <div id="MEDS">

        </div>

</form>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#AKbtn2").click(function () {
                $.ajax({
                    url: "/Medecine/medsByName",
                    type: "POST",
                    data: { d: $("#MedicineId").val()},
                    success: function (data) {
                        $("#MEDS").html(data);
                    },
                    error: function failedSearch() {
                        $("#MEDS").html = "Failed to load";
                    }
                });@*
                alert("Hi");
                $("#l1").text($("#MedicineId").val());
                $("#l2").text($("#MedicineId option:selected").text());*@
            });
        });
    </script>
}