@model MedicineSearchWebApp.Models.Admin

@{
    ViewData["Title"] = "AdminLogin";
    Layout = "~/Views/Home/_Layoutadmin.cshtml";
}

<div id="login-page">
    <div class="login">
        <h2 class="login-title">Login</h2>
        <p class="notice">Please login to access the system</p>
        <form class="form-login" asp-action="Index">
    <label for="email">E-mail</label>
    <div class="input-email">
        <i class="fas fa-envelope icon"></i>
        <input type="text" asp-for="AdminUser" class="login__input" placeholder="User name / Mobile No." />

    </div>
    <label for="password">Password</label>
    <div class="input-password">
        <i class="fas fa-lock icon"></i>
        <input type="password" asp-for="AdminPassword" class="login__input" placeholder="Password">
    </div>
    <div class="checkbox">
        <label for="remember">
            <input type="checkbox" name="remember">
            Remember me
        </label>
    </div>
    <button type="submit"><i class="fas fa-door-open"></i> Sign in</button>
</form>
    </div>
    <div class="background">
        <h1>Donec in dapibus augue sed nisi nunc suscipit eget enim sit amet</h1>
    </div>
</div>